<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Life in Travel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheBlogProject.styles.css" asp-append-version="true" />

    <!--TinyMCE integration-->
    <script src="https://cdn.tiny.cloud/1/irkc0iejql1hl34e3s6yiuvnslby9sluoig07ngrx87gnd9i/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Life in Travel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- Make the "Destinations" dropdown header clickable -->
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Destinations
                            </a>
                            <!-- Render the dropdown items using the ViewComponent -->
                            @await Component.InvokeAsync("Destinations")
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Blogs" asp-action="Index">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Posts" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Blogs" asp-action="Create">Create Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Posts" asp-action="Create">Create Post</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>



        <!-- Removed search feature for now. Want to see how it looks without. Don't know what purpose it will serve
        <div class="userSearch">
            <div class="searchIndex">
                // Can move this later. Form used to search for tags throughout the blog //
                <form asp-action="SearchIndex" asp-controller="Posts">
                    <div class="input-group mt-5">
                        <input type="text" name="SearchTerm" class="form-control" placeholder="Searching for?" />
                        <div class="input-group-append">
                            <button class="commonButton" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        -->

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Contact me form to be shared-->
    @* <div class="contact-section">
        <div class="contact-container">
            <div class="contact-left">
                <p>
                    I'm always happy to hear from people, learn where you've been, places you'd recommend,
                    or if you're looking for some help and advice! Please feel free to reach out.
                    <br><br>- CJ
                </p>
            </div>
            <div class="contact-right">
                <form action="/Contact/Submit" method="POST" class="contact-form">
                    <div class="form-group">
                        <label for="contact-name">Name:</label>
                        <input type="text" id="contact-name" name="Name" class="contact-input" placeholder="Your Name" required />
                    </div>
                    <div class="form-group">
                        <label for="contact-email">Email:</label>
                        <input type="email" id="contact-email" name="Email" class="contact-input" placeholder="Your Email" required />
                    </div>
                    <div class="form-group">
                        <label for="contact-description">Message:</label>
                        <textarea id="contact-description" name="Description" class="contact-textarea" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="commonButton">Submit</button>
                </form>
            </div>
        </div>
    </div> *@


    <footer class="site-footer bg-light border-top py-4 fixed-bottom">
        <div class="d-flex justify-content-between align-items-center">
            <div class="ms-3 footerStyle">
                <span>&copy; 2024</span> <a href="mailto:CJBowman@live.com">CJBowman@live.com</a>
            </div>
            <div class="mx-4">
                <a href="https://github.com/Ceejster" target="_blank" class="me-3">
                    <i class="bi bi-github" style="font-size: 1.5rem;"></i>
                </a>
                <a href="https://instagram.com/bowman.cj" target="_blank">
                    <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
