<div class="about">
    <!-- About CJ Section -->
    <div class="aboutSection">
        <div class="aboutHeader">
            <h1>About CJ</h1>
        </div>
        <div class="aboutContent">
            <div class="aboutImage">
                <img src="/images/ME.jpg" alt="Photo of CJ hiking" />
            </div>
            <div class="aboutWriteup">
                <p>
                    This is where I'm trying to keep track of places that we've been to, lived in, and things we've done.
                    I've never kept track of places, sights, or things we've done very precisely. I'm hoping this keeps me more accountable
                    of all of that so in the future my wife and I will have this to look back on.
                    If this helps inspire you, or give you advice, that's even better.
                </p>
            </div>
        </div>
    </div>
    <hr />
    <!-- About The Two of Us Section -->
    <div class="aboutSection">
        <div class="aboutHeader">
            <h1>About The Two of Us</h1>
        </div>
        <div class="aboutContent">
            <div class="aboutImage">
                <img src="/images/CandCatvineyard.jpg" alt="Photo of Cait and CJ at a vineyard in South Africa" />
            </div>
            <div class="aboutWriteup">
                <p>
                    This is where I'm trying to keep track of places that we've been to, lived in, and things we've done.
                    I've never kept track of places, sights, or things we've done very precisely. I'm hoping this keeps me more accountable
                    of all of that so in the future my wife and I will have this to look back on.
                    If this helps inspire you, or give you advice, that's even better.
                </p>
            </div>
        </div>
    </div>
</div>
