.blog {
    margin: 20px;
}

body {
    padding-bottom: 5rem;
}

.country-title {
    font-size: 24px;
    margin: 10px;
}

.blog-description {
    font-size: 18px;
    margin: 10px;
}

.post-list {
    margin-top: 20px;
}

.city-legend ul {
    list-style-type: none;
    padding: 0;
}

.city-legend li {
    font-size: 16px;
    margin: 5px 0;
}

.post img {
    max-width: 100px;
    margin: 10px 0;
}

.blog img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.post img {
    max-width: 100px;
    display: inline-block;
}

.bi {
    color: black;
}
img {
    max-height: 9rem;
}

.profile-img {
    width: 10rem; /* Set the width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 90%; /* Make it a circle */
    display: block; /* Ensure proper layout for centering */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

