@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<!--Post Content-->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />
    <article>
        <div class="row">
            <div class="col postDetailTags">
                Custom Tags
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Tags:</p>
            @if (Model.Tags != null && Model.Tags.Any())
            {
                <p>Tags:</p>
                @foreach (var tag in Model.Tags)
                {
                    <a asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            }
            else
            {
                <p>No tags available.</p>
            }
            </div>
        </div>
    </article>
<hr />


<form asp-controller="Comments" asp-action="Create">

</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
