@using TheBlogProject.Services
@using Microsoft.AspNetCore.Identity;

@inject IImageService imageService
@inject UserManager<BlogUser> userManager
@model IEnumerable<TheBlogProject.Models.Post>

<div class="blogHeader">
    <h1>Here is all instances of your searched term!</h1>
    <!--Add search term here?-->
</div>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-sm-2 col-lg-4 mt-3">
            <div class="card border-dark">
                <div class="card-body text-center">
                    <div class="bg-black">
                        <hr class="card-hr" />
                        <h5 class="card-title">@post.Title</h5>
                        <hr class="card-hr" />
                    </div>
                    <div>
                        <p class="card-text">@Html.Raw(post.Abstract)</p>
                    </div>

                    <br />

                    <div class="text-center">
                        <a class="commonButton" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@post.Id">Read More</a>
                    </div>
                </div>
                <!-- Can display image if want to-->
                <!-- <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" /> -->
            </div>
        </div>
    }
</div>